/**index.scss**/
.publictask {
  height: 100vh;
  background: #F7F7F7;

  .content {
    padding: 15px;
    display: flex;
    flex-direction: column;

    .title {
      padding-left: 17px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 600;
    }

    .textarea {
      padding: 12px 15px;
      background-color: white;
      border: 1px #9E9E9E dashed;
      width: calc(100% - 32px);
      font-size: 14px;
    }

    .message {
      font-size: 12px;
      padding: 8px 10px;
      background-color: white;
      margin-top: 12px;
      border: 1px #9E9E9E dashed;

      view {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .message_item {
        justify-content: space-between;

        .message_view {
          width: 90px;
        }

        .view_txt {
          font-size: 11px;
          color: #9E9E9E;
        }
      }

      .message_item1 {
        margin-top: 15px;
      }
    }
  }

  .bottom {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 15px;
    width: 100%;
    position: fixed;
    bottom: 0;

    .tip {
      font-size: 20px;
      font-weight: 600;
    }

    .total {
      font-size: 28px;
      color: #EB5343;
      font-weight: 600;
    }

    .mx {
      font-size: 12px;
      color: #9E9E9E;
      text-decoration-line: underline;
      margin-left: 15px;
    }
    
    .rzBtn{
      width: 150px;
      height: 38px;
      background-color: #ED5544;
      border-radius: 18px;
      color: white;
      font-weight: 600;
    }
  }
}