/**index.scss**/
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  width: 80%;
}

.usermotto {
  margin-top: 150rpx;
  // color: blue;
  font-size: 60rpx;
}

button {
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}

.userinfo_btns {
  margin-top: 80%;
}
.page-radio{
  width: 90%;
}