page {
  height: 100vh;
  overflow: hidden;
  .IndexPage{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    .top{
      width: 100%;
    }
    .sousuo_view{
      width: 90%;
      height: 39px;
      border: 2px #ED5544 solid;
      border-radius: 19px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 15px auto;
      .weui-input{
        padding-left: 15px;
      }
      .ssBtn{
        height: 39px;
        width: 76px;
        background-color: #ED5544;
        color: white;
        font-size: 14px;
        padding: 10px 0;
        border-radius: 19px;
        margin: 0 -2px 0 0;
      }
    }
    .scroll{
      height: calc(100vh - 157px - 80px);
      .sc_item{
        width: 178px;
        height: 339px;
        position: relative;
        float: left;
        border: 1px rgba($color: #000000, $alpha: 0.5) solid;
        border-radius: 8px;

        .imageBg{
          width: 100%;
          height: 100%;
        }
        .item_content{
          width: 100%;
          height: 90px;
          background-color: white;
          position: absolute;
          color: #9E9E9E;
          font-size: 12px;
          padding: 5px 0;
          bottom: 0;
          border-radius: 0 0 8px 8px;
          .itemName{
            color: #282828;
            font-size: 14px;
            font-weight: 600;
            padding: 0 8px;
          }
          view{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;
            padding: 0 8px;

            image{
              
              margin-right: 5px;
            }

            .head{
              width: 20px;
              height: 20px;
              background-color: #7F7F7F;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .bottom{
      position: fixed;
      display: flex;
      justify-content: space-between;
      bottom: 0;
      width: 100%;
      height: 80px;
      background-color: white;
      view{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        height: 100%;
        image{
          width: 25px;
          height: 25px;
          margin-top: 10px;
        }
        text{
          font-size: 12px;
          margin-top: 5px;
        }
      }

      .fbrw{
        width: 100px;
        view{
          width: 60px;
          height: 60px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -20px;
          image{
            width: 44px;
            height: 44px;
            margin: 0px;
          }
        }
        text{
          margin-top: 0px;
        }
      }
    }
  }
  
}